In [1]:
import pandas as pd
import numpy as np

import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import ssm
from ssm.util import find_permutation
from ssm.plots import gradient_cmap, white_to_color_cmap

color_names = [
    "windows blue",
    "red",
    "amber",
    "faded green",
    "dusty purple",
    "orange"
]
colors = sns.xkcd_palette(color_names)
cmap = gradient_cmap(colors)
plt.rcParams["figure.figsize"] = (30, 6)

# Provide data

In [2]:
# https://www.kaggle.com/datasets/grouplens/movielens-20m-dataset

ratings=pd.read_csv('../data/rating.csv')
# links=pd.read_csv('links.csv')
# tags=pd.read_csv('tags.csv')
# genome_tags=pd.read_csv('genome-tags.csv')
# genome_scores=pd.read_csv('genome-scores.csv')
movies=pd.read_csv('../data/movie.csv')

In [3]:
ratings

          userId  movieId  rating            timestamp
0              1        2     3.5  2005-04-02 23:53:47
1              1       29     3.5  2005-04-02 23:31:16
2              1       32     3.5  2005-04-02 23:33:39
3              1       47     3.5  2005-04-02 23:32:07
4              1       50     3.5  2005-04-02 23:29:40
...          ...      ...     ...                  ...
20000258  138493    68954     4.5  2009-11-13 15:42:00
20000259  138493    69526     4.5  2009-12-03 18:31:48
20000260  138493    69644     3.0  2009-12-07 18:10:57
20000261  138493    70286     5.0  2009-11-13 15:42:24
20000262  138493    71619     2.5  2009-10-17 20:25:36

[20000263 rows x 4 columns]

In [4]:
genres = pd.DataFrame({k: {g: True for g in v} for k, v in  movies.set_index('movieId').genres.apply(lambda gs: gs.split("|")).to_dict().items()}).fillna(False).transpose()

In [5]:
genres

,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
1,True,True,True,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,True,False,True,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,True,False,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131254,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
131256,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
131258,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
131260,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
131262,True,False,False,False,True,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False

In [6]:
# ratings_pivot = ratings.pivot('userId', 'movieId', 'rating')

# Train models

The artificial user has the ID `0`

In [7]:
import pandas as pd
import numpy as np

# metrics for comparison
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

# funk-svd package imports
from funk_svd.dataset import fetch_ml_ratings
from funk_svd.utils import _timer
from funk_svd import SVD as FSVD

In [126]:
ratings.rename(columns={"userId": 'u_id',  "movieId": "i_id"})

    u_id  i_id  rating            timestamp      u_id     i_id
0    1.0   2.0     3.5  2005-04-02 23:53:47       NaN      NaN
1    1.0  29.0     3.5  2005-04-02 23:31:16       NaN      NaN
2    1.0  32.0     3.5  2005-04-02 23:33:39       NaN      NaN
3    1.0  47.0     3.5  2005-04-02 23:32:07       NaN      NaN
4    1.0  50.0     3.5  2005-04-02 23:29:40       NaN      NaN
..   ...   ...     ...                  ...       ...      ...
11   NaN   NaN     5.0                  NaN  113283.0  87960.0
12   NaN   NaN     5.0                  NaN  114508.0  27762.0
13   NaN   NaN     5.0                  NaN  115565.0  55460.0
14   NaN   NaN     5.0                  NaN  123903.0  93279.0
15   NaN   NaN     5.0                  NaN  131681.0  33903.0

[20000311 rows x 6 columns]

In [8]:
fsvd = FSVD(lr=0.001, reg=0.005, n_epochs=100, n_factors=15,
          early_stopping=True, shuffle=False, min_rating=1, max_rating=5)

fsvd.fit(X=ratings.rename(columns={"userId": 'u_id',  "movieId": "i_id"}))

Preprocessing data...

Epoch 1/100  | took 1.8 sec
Epoch 2/100  | took 1.5 sec
Epoch 3/100  | took 1.5 sec
Epoch 4/100  | took 1.5 sec
Epoch 5/100  | took 1.4 sec
Epoch 6/100  | took 1.4 sec
Epoch 7/100  | took 1.5 sec
Epoch 8/100  | took 1.4 sec
Epoch 9/100  | took 1.4 sec
Epoch 10/100 | took 1.4 sec
Epoch 11/100 | took 1.5 sec
Epoch 12/100 | took 1.5 sec
Epoch 13/100 | took 1.5 sec
Epoch 14/100 | took 1.5 sec
Epoch 15/100 | took 1.4 sec
Epoch 16/100 | took 1.5 sec
Epoch 17/100 | took 1.4 sec
Epoch 18/100 | took 1.5 sec
Epoch 19/100 | took 1.4 sec
Epoch 20/100 | took 1.5 sec
Epoch 21/100 | took 1.5 sec
Epoch 22/100 | took 1.5 sec
Epoch 23/100 | took 1.4 sec
Epoch 24/100 | took 1.5 sec
Epoch 25/100 | took 1.4 sec
Epoch 26/100 | took 1.4 sec
Epoch 27/100 | took 1.5 sec
Epoch 28/100 | took 1.4 sec
Epoch 29/100 | took 1.5 sec
Epoch 30/100 | took 1.5 sec
Epoch 31/100 | took 1.5 sec
Epoch 32/100 | took 1.5 sec
Epoch 33/100 | took 1.5 sec
Epoch 34/100 | took 1.5 sec
Epoch 35/100 | took 1.5 sec
Epoch 36/100 | took 1.5 sec
Epoch 37/100 | took 1.5 sec
Epoch 38/100 | took 1.4 sec
Epoch 39/100 | took 1.4 sec
Epoch 40/100 | took 1.4 sec
Epoch 41/100 | took 1.5 sec
Epoch 42/100 | took 1.4 sec
Epoch 43/100 | took 1.5 sec
Epoch 44/100 | took 1.5 sec
Epoch 45/100 | took 1.4 sec
Epoch 46/100 | took 1.5 sec
Epoch 47/100 | took 1.5 sec
Epoch 48/100 | took 1.4 sec
Epoch 49/100 | took 1.5 sec
Epoch 50/100 | took 1.5 sec
Epoch 51/100 | took 1.4 sec
Epoch 52/100 | took 1.4 sec
Epoch 53/100 | took 1.4 sec
Epoch 54/100 | took 1.5 sec
Epoch 55/100 | took 1.4 sec
Epoch 56/100 | took 1.5 sec
Epoch 57/100 | took 1.5 sec
Epoch 58/100 | took 1.4 sec
Epoch 59/100 | took 1.5 sec
Epoch 60/100 | took 1.5 sec
Epoch 61/100 | took 1.5 sec
Epoch 62/100 | took 1.5 sec
Epoch 63/100 | took 1.5 sec
Epoch 64/100 | took 1.5 sec
Epoch 65/100 | took 1.4 sec
Epoch 66/100 | took 1.5 sec
Epoch 67/100 | took 1.5 sec
Epoch 68/100 | took 1.5 sec
Epoch 69/100 | took 1.4 sec
Epoch 70/100 | took 1.4 sec
Epoch 71/100 | took 1.5 sec
Epoch 72/100 | took 1.4 sec
Epoch 73/100 | took 1.5 sec
Epoch 74/100 | took 1.4 sec
Epoch 75/100 | took 1.4 sec
Epoch 76/100 | took 1.4 sec
Epoch 77/100 | took 1.5 sec
Epoch 78/100 | took 1.4 sec
Epoch 79/100 | took 1.4 sec
Epoch 80/100 | took 1.4 sec
Epoch 81/100 | took 1.5 sec
Epoch 82/100 | took 1.5 sec
Epoch 83/100 | took 1.5 sec
Epoch 84/100 | took 1.5 sec
Epoch 85/100 | took 1.4 sec
Epoch 86/100 | took 1.4 sec
Epoch 87/100 | took 1.5 sec
Epoch 88/100 | took 1.4 sec
Epoch 89/100 | took 1.5 sec
Epoch 90/100 | took 1.4 sec
Epoch 91/100 | took 1.4 sec
Epoch 92/100 | took 1.4 sec
Epoch 93/100 | took 1.4 sec
Epoch 94/100 | took 1.4 sec
Epoch 95/100 | took 1.5 sec
Epoch 96/100 | took 1.4 sec
Epoch 97/100 | took 1.5 sec
Epoch 98/100 | took 1.5 sec
Epoch 99/100 | took 1.4 sec
Epoch 100/100 | took 1.4 sec

Training took 2 min and 36 sec

In [9]:
all_movies = ratings.movieId.drop_duplicates().values
all_movies

array([     2,     29,     32, ..., 121021, 110167, 110510])

In [10]:
preds = fsvd.predict(pd.DataFrame({"u_id": [0 for _ in range(all_movies.shape[0])], "i_id": all_movies}))

In [11]:
k=50

res = pd.DataFrame({"movieId": all_movies, "pred": preds})
gen_at_k = genres.loc[res.sort_values("pred")[-k:].movieId.values].sum() / k

In [12]:
gen_at_k

Adventure             0.10
Animation             0.02
Children              0.00
Comedy                0.18
Fantasy               0.04
Romance               0.16
Drama                 0.58
Action                0.10
Crime                 0.14
Thriller              0.14
Horror                0.00
Mystery               0.10
Sci-Fi                0.02
IMAX                  0.00
Documentary           0.22
War                   0.10
Musical               0.00
Western               0.00
Film-Noir             0.00
(no genres listed)    0.00
dtype: float64

In [13]:
ratings.userId.value_counts().sort_values()[-10:]

59477     4988
83090     5169
131904    5330
34576     5356
74142     5447
125794    5491
121535    5520
82418     5646
8405      7515
118205    9254
Name: userId, dtype: int64

In [22]:
np.random.choice(ratings.userId.unique(), 10, replace=False).tolist()

[49750, 133810, 61792, 126170, 85275, 26201, 103329, 133627, 121793, 115338]

In [24]:
users = np.random.choice(ratings.userId.unique(), 16, replace=False)
all_movies = ratings.movieId.unique()

In [26]:
movies_available = [{"u_id": u, "i_id": i}  for u in users for i in np.setdiff1d(all_movies, ratings.loc[ratings.userId == u].movieId.unique())]

In [29]:
pd.DataFrame(movies_available)

         u_id    i_id
0        7642       1
1        7642       2
2        7642       3
3        7642       4
4        7642       7
...       ...     ...
426273  77656  131254
426274  77656  131256
426275  77656  131258
426276  77656  131260
426277  77656  131262

[426278 rows x 2 columns]

In [30]:
movies_available = pd.DataFrame([{"u_id": u, "i_id": i} for u in users for i in np.setdiff1d(all_movies, ratings.loc[ratings.userId == u].movieId.unique())])

In [43]:
selected = movies_available.groupby("u_id").apply(lambda df: np.random.choice(df.index))

In [48]:
selected.shape[0]

16

In [55]:
pd.concat([movies_available.loc[selected].reset_index(drop=True), pd.DataFrame({"rating": np.random.choice([4, 5], selected.shape[0], p=[.15, .85])})], axis=1)

      u_id    i_id  rating
0     7642   25922       5
1    19779    2586       5
2    41549   70789       5
3    54417    2327       4
4    56721   49973       5
5    61274    5960       5
6    68973    4842       5
7    77656   40467       4
8    91829  121403       5
9    93917    1531       5
10  103110    6565       5
11  113283   87960       5
12  114508   27762       5
13  115565   55460       5
14  123903   93279       5
15  131681   33903       5

In [60]:
new_scores = pd.concat([movies_available.loc[selected].reset_index(drop=True), pd.DataFrame({"rating": np.random.choice([4, 5], selected.shape[0], p=[.15, .85])})], axis=1)
ratings = pd.concat([ratings, new_scores],  axis=0)

In [79]:
res_tmp = pd.concat([movies_available,  pd.DataFrame({"pred": fsvd.predict(movies_available)})], axis=1)
res_tmp = pd.concat([res_tmp,  genres.loc[res_tmp.i_id].reset_index(drop=True)], axis=1)
res_tmp.groupby("u_id").apply(lambda df:  df.drop(["u_id", "i_id",  "pred"],  axis=1).mean())

,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
u_id,,,,,,,,,,,,,,,,,,,,
7642,0.084997,0.037910,0.041618,0.307736,0.052257,0.150590,0.488668,0.129013,0.107848,0.153849,0.096947,0.055666,0.064169,0.007192,0.089567,0.043903,0.037947,0.024499,0.012062,0.009065
19779,0.085376,0.037916,0.041621,0.307931,0.052326,0.150578,0.488341,0.129431,0.107871,0.154396,0.096905,0.055695,0.064191,0.007224,0.089456,0.043867,0.037953,0.024554,0.012052,0.009058
41549,0.084961,0.037710,0.041203,0.307542,0.051645,0.150165,0.488657,0.129319,0.108060,0.154372,0.096943,0.055889,0.064153,0.007249,0.089769,0.043795,0.037485,0.024489,0.012094,0.009090
54417,0.085343,0.037934,0.041866,0.307594,0.052277,0.150764,0.488466,0.129494,0.107886,0.154321,0.096914,0.055647,0.064260,0.007302,0.089425,0.043889,0.038009,0.024566,0.012058,0.009062
56721,0.085095,0.037862,0.041573,0.307880,0.052182,0.150547,0.488567,0.128880,0.107737,0.153809,0.096941,0.055631,0.063990,0.007197,0.089631,0.043785,0.037937,0.024516,0.012071,0.009072
61274,0.084446,0.037673,0.041772,0.308230,0.052111,0.151145,0.489078,0.127420,0.107005,0.152950,0.096966,0.055269,0.062639,0.006956,0.089860,0.043689,0.038162,0.024514,0.012069,0.009099
68973,0.085389,0.037996,0.041777,0.307790,0.052259,0.150713,0.488489,0.129338,0.107775,0.153970,0.096882,0.055703,0.064238,0.007262,0.089507,0.043836,0.038034,0.024520,0.012054,0.009059
77656,0.085361,0.037938,0.041724,0.307441,0.052334,0.150253,0.488060,0.129447,0.107966,0.154189,0.097020,0.055783,0.064367,0.007235,0.089597,0.043786,0.037976,0.024442,0.012071,0.009072
91829,0.084990,0.037844,0.041782,0.307704,0.051947,0.150626,0.488485,0.129210,0.107606,0.153889,0.096842,0.055322,0.063986,0.007276,0.089641,0.043883,0.037994,0.024567,0.012040,0.009077
93917,0.085544,0.037907,0.041799,0.307712,0.052240,0.150732,0.488493,0.129514,0.107997,0.154361,0.096883,0.055682,0.064289,0.007260,0.089473,0.043820,0.037945,0.024473,0.012050,0.009056
103110,0.085541,0.037981,0.041798,0.307626,0.052238,0.150501,0.488325,0.129659,0.108068,0.154393,0.096917,0.055680,0.064287,0.007297,0.089470,0.043856,0.037981,0.024510,0.012049,0.009056
113283,0.085438,0.037997,0.041782,0.307802,0.052350,0.150641,0.488084,0.129544,0.107809,0.154088,0.096867,0.055497,0.064228,0.007307,0.089598,0.043843,0.038072,0.024507,0.011991,0.009068
114508,0.084954,0.037587,0.041671,0.307551,0.051977,0.150721,0.488739,0.129286,0.107813,0.154169,0.096796,0.055462,0.063669,0.007120,0.089601,0.043957,0.037886,0.024546,0.012029,0.009069
115565,0.084441,0.038282,0.042258,0.310235,0.052331,0.149873,0.484342,0.127911,0.106933,0.153092,0.097883,0.055549,0.064523,0.006816,0.090310,0.041690,0.038282,0.024158,0.012117,0.009164
123903,0.084386,0.037643,0.040727,0.307310,0.051858,0.149970,0.488944,0.129137,0.108040,0.153918,0.097210,0.055505,0.064004,0.007220,0.089914,0.043735,0.037568,0.024594,0.012071,0.009100
131681,0.082967,0.037809,0.041218,0.307471,0.051409,0.150402,0.489392,0.127330,0.107327,0.151993,0.097363,0.054857,0.062737,0.007122,0.090506,0.043757,0.037960,0.024701,0.012047,0.009168

In [88]:
res_tmp.groupby("u_id").apply(lambda df:  df.sort_values("pred")[-100:].drop(["u_id", "i_id",  "pred"],  axis=1).mean()).to_dict("index")

{7642: {'Adventure': 0.25,
  'Animation': 0.0,
  'Children': 0.01,
  'Comedy': 0.12,
  'Fantasy': 0.13,
  'Romance': 0.23,
  'Drama': 0.53,
  'Action': 0.51,
  'Crime': 0.2,
  'Thriller': 0.43,
  'Horror': 0.05,
  'Mystery': 0.13,
  'Sci-Fi': 0.16,
  'IMAX': 0.16,
  'Documentary': 0.01,
  'War': 0.09,
  'Musical': 0.04,
  'Western': 0.01,
  'Film-Noir': 0.0,
  '(no genres listed)': 0.0},
 19779: {'Adventure': 0.05,
  'Animation': 0.06,
  'Children': 0.01,
  'Comedy': 0.25,
  'Fantasy': 0.03,
  'Romance': 0.1,
  'Drama': 0.54,
  'Action': 0.09,
  'Crime': 0.17,
  'Thriller': 0.18,
  'Horror': 0.0,
  'Mystery': 0.13,
  'Sci-Fi': 0.06,
  'IMAX': 0.0,
  'Documentary': 0.23,
  'War': 0.11,
  'Musical': 0.0,
  'Western': 0.01,
  'Film-Noir': 0.05,
  '(no genres listed)': 0.0},
 41549: {'Adventure': 0.35,
  'Animation': 0.05,
  'Children': 0.06,
  'Comedy': 0.24,
  'Fantasy': 0.2,
  'Romance': 0.44,
  'Drama': 0.61,
  'Action': 0.21,
  'Crime': 0.01,
  'Thriller': 0.08,
  'Horror': 0.0,
  'Mystery': 0.04,
  'Sci-Fi': 0.21,
  'IMAX': 0.12,
  'Documentary': 0.01,
  'War': 0.05,
  'Musical': 0.08,
  'Western': 0.02,
  'Film-Noir': 0.0,
  '(no genres listed)': 0.0},
 54417: {'Adventure': 0.07,
  'Animation': 0.02,
  'Children': 0.01,
  'Comedy': 0.45,
  'Fantasy': 0.06,
  'Romance': 0.13,
  'Drama': 0.48,
  'Action': 0.16,
  'Crime': 0.25,
  'Thriller': 0.14,
  'Horror': 0.01,
  'Mystery': 0.07,
  'Sci-Fi': 0.06,
  'IMAX': 0.04,
  'Documentary': 0.12,
  'War': 0.05,
  'Musical': 0.02,
  'Western': 0.01,
  'Film-Noir': 0.02,
  '(no genres listed)': 0.01},
 56721: {'Adventure': 0.15,
  'Animation': 0.06,
  'Children': 0.02,
  'Comedy': 0.16,
  'Fantasy': 0.09,
  'Romance': 0.1,
  'Drama': 0.55,
  'Action': 0.17,
  'Crime': 0.15,
  'Thriller': 0.17,
  'Horror': 0.04,
  'Mystery': 0.1,
  'Sci-Fi': 0.13,
  'IMAX': 0.0,
  'Documentary': 0.16,
  'War': 0.14,
  'Musical': 0.01,
  'Western': 0.0,
  'Film-Noir': 0.01,
  '(no genres listed)': 0.0},
 61274: {'Adventure': 0.18,
  'Animation': 0.03,
  'Children': 0.01,
  'Comedy': 0.51,
  'Fantasy': 0.06,
  'Romance': 0.04,
  'Drama': 0.32,
  'Action': 0.34,
  'Crime': 0.23,
  'Thriller': 0.16,
  'Horror': 0.01,
  'Mystery': 0.11,
  'Sci-Fi': 0.17,
  'IMAX': 0.04,
  'Documentary': 0.08,
  'War': 0.07,
  'Musical': 0.03,
  'Western': 0.05,
  'Film-Noir': 0.01,
  '(no genres listed)': 0.0},
 68973: {'Adventure': 0.05,
  'Animation': 0.1,
  'Children': 0.03,
  'Comedy': 0.31,
  'Fantasy': 0.06,
  'Romance': 0.16,
  'Drama': 0.43,
  'Action': 0.02,
  'Crime': 0.1,
  'Thriller': 0.09,
  'Horror': 0.01,
  'Mystery': 0.08,
  'Sci-Fi': 0.05,
  'IMAX': 0.0,
  'Documentary': 0.27,
  'War': 0.07,
  'Musical': 0.02,
  'Western': 0.0,
  'Film-Noir': 0.04,
  '(no genres listed)': 0.0},
 77656: {'Adventure': 0.07,
  'Animation': 0.0,
  'Children': 0.02,
  'Comedy': 0.2,
  'Fantasy': 0.05,
  'Romance': 0.39,
  'Drama': 0.63,
  'Action': 0.05,
  'Crime': 0.09,
  'Thriller': 0.08,
  'Horror': 0.0,
  'Mystery': 0.13,
  'Sci-Fi': 0.0,
  'IMAX': 0.02,
  'Documentary': 0.16,
  'War': 0.12,
  'Musical': 0.05,
  'Western': 0.0,
  'Film-Noir': 0.07,
  '(no genres listed)': 0.0},
 91829: {'Adventure': 0.27,
  'Animation': 0.31,
  'Children': 0.24,
  'Comedy': 0.65,
  'Fantasy': 0.21,
  'Romance': 0.18,
  'Drama': 0.24,
  'Action': 0.12,
  'Crime': 0.09,
  'Thriller': 0.03,
  'Horror': 0.0,
  'Mystery': 0.04,
  'Sci-Fi': 0.12,
  'IMAX': 0.02,
  'Documentary': 0.05,
  'War': 0.06,
  'Musical': 0.18,
  'Western': 0.01,
  'Film-Noir': 0.0,
  '(no genres listed)': 0.0},
 93917: {'Adventure': 0.29,
  'Animation': 0.12,
  'Children': 0.08,
  'Comedy': 0.24,
  'Fantasy': 0.13,
  'Romance': 0.04,
  'Drama': 0.32,
  'Action': 0.57,
  'Crime': 0.23,
  'Thriller': 0.45,
  'Horror': 0.08,
  'Mystery': 0.16,
  'Sci-Fi': 0.35,
  'IMAX': 0.2,
  'Documentary': 0.02,
  'War': 0.04,
  'Musical': 0.04,
  'Western': 0.01,
  'Film-Noir': 0.01,
  '(no genres listed)': 0.01},
 103110: {'Adventure': 0.18,
  'Animation': 0.09,
  'Children': 0.08,
  'Comedy': 0.25,
  'Fantasy': 0.1,
  'Romance': 0.18,
  'Drama': 0.65,
  'Action': 0.17,
  'Crime': 0.19,
  'Thriller': 0.23,
  'Horror': 0.02,
  'Mystery': 0.11,
  'Sci-Fi': 0.09,
  'IMAX': 0.11,
  'Documentary': 0.09,
  'War': 0.08,
  'Musical': 0.02,
  'Western': 0.01,
  'Film-Noir': 0.0,
  '(no genres listed)': 0.0},
 113283: {'Adventure': 0.01,
  'Animation': 0.0,
  'Children': 0.01,
  'Comedy': 0.13,
  'Fantasy': 0.01,
  'Romance': 0.3,
  'Drama': 0.77,
  'Action': 0.04,
  'Crime': 0.12,
  'Thriller': 0.12,
  'Horror': 0.01,
  'Mystery': 0.14,
  'Sci-Fi': 0.01,
  'IMAX': 0.0,
  'Documentary': 0.16,
  'War': 0.15,
  'Musical': 0.04,
  'Western': 0.0,
  'Film-Noir': 0.0,
  '(no genres listed)': 0.0},
 114508: {'Adventure': 0.04,
  'Animation': 0.04,
  'Children': 0.0,
  'Comedy': 0.28,
  'Fantasy': 0.05,
  'Romance': 0.15,
  'Drama': 0.64,
  'Action': 0.02,
  'Crime': 0.08,
  'Thriller': 0.08,
  'Horror': 0.03,
  'Mystery': 0.09,
  'Sci-Fi': 0.04,
  'IMAX': 0.0,
  'Documentary': 0.19,
  'War': 0.07,
  'Musical': 0.03,
  'Western': 0.0,
  'Film-Noir': 0.0,
  '(no genres listed)': 0.0},
 115565: {'Adventure': 0.11,
  'Animation': 0.02,
  'Children': 0.0,
  'Comedy': 0.1,
  'Fantasy': 0.02,
  'Romance': 0.08,
  'Drama': 0.59,
  'Action': 0.14,
  'Crime': 0.14,
  'Thriller': 0.19,
  'Horror': 0.0,
  'Mystery': 0.12,
  'Sci-Fi': 0.05,
  'IMAX': 0.03,
  'Documentary': 0.24,
  'War': 0.13,
  'Musical': 0.0,
  'Western': 0.02,
  'Film-Noir': 0.0,
  '(no genres listed)': 0.0},
 123903: {'Adventure': 0.42,
  'Animation': 0.25,
  'Children': 0.21,
  'Comedy': 0.33,
  'Fantasy': 0.15,
  'Romance': 0.05,
  'Drama': 0.25,
  'Action': 0.33,
  'Crime': 0.07,
  'Thriller': 0.14,
  'Horror': 0.02,
  'Mystery': 0.05,
  'Sci-Fi': 0.36,
  'IMAX': 0.07,
  'Documentary': 0.15,
  'War': 0.06,
  'Musical': 0.03,
  'Western': 0.03,
  'Film-Noir': 0.0,
  '(no genres listed)': 0.0},
 131681: {'Adventure': 0.18,
  'Animation': 0.24,
  'Children': 0.18,
  'Comedy': 0.33,
  'Fantasy': 0.13,
  'Romance': 0.1,
  'Drama': 0.48,
  'Action': 0.13,
  'Crime': 0.1,
  'Thriller': 0.1,
  'Horror': 0.03,
  'Mystery': 0.04,
  'Sci-Fi': 0.15,
  'IMAX': 0.03,
  'Documentary': 0.14,
  'War': 0.09,
  'Musical': 0.09,
  'Western': 0.0,
  'Film-Noir': 0.01,
  '(no genres listed)': 0.0}}

In [84]:
res_tmp.sort_values("pred")[-100:]

,u_id,i_id,pred,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,...,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
374097,91829,1197,4.819244,True,False,False,True,True,True,False,...,False,False,False,False,False,False,False,False,False,False
200420,103110,68954,4.819812,True,True,True,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
187207,103110,527,4.820026,False,False,False,False,False,False,True,...,False,False,False,False,False,True,False,False,False,False
333902,115565,70186,4.820141,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
321339,115565,1262,4.821101,True,False,False,False,False,False,True,...,False,False,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320483,115565,356,5.000000,False,False,False,True,False,True,True,...,False,False,False,False,False,True,False,False,False,False
267308,41549,539,5.000000,False,False,False,True,False,True,True,...,False,False,False,False,False,False,False,False,False,False
267902,41549,1210,5.000000,True,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
267883,41549,1183,5.000000,False,False,False,False,False,True,True,...,False,False,False,False,False,True,False,False,False,False
273729,41549,7153,5.000000,True,False,False,False,True,False,True,...,False,False,False,False,False,False,False,False,False,False

In [95]:
genres.columns
GENRE1 = 'Documentary'
GENRE2 = 'IMAX'

In [100]:
genres.loc[genres[GENRE1] | genres[GENRE1]].index.values

array([    37,     77,     99, ..., 131074, 131100, 131110])

In [108]:
c = genres.cov().abs()

c[c ==  c.min()]

,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
Adventure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Animation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Children,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000155,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Comedy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fantasy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Romance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Drama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Crime,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Thriller,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Horror,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mystery,NaN,NaN,NaN,NaN,NaN,NaN,0.00072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sci-Fi,NaN,NaN,0.000155,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
IMAX,NaN,NaN,NaN,0.001143,NaN,NaN,NaN,NaN,0.000371,0.000219,0.000211,0.000142,NaN,NaN,NaN,NaN,0.00013,NaN,0.000087,0.000065
Documentary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
War,NaN,NaN,NaN,NaN,NaN,0.000343,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000095,NaN,NaN
Musical,0.000347,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000189,NaN,NaN,NaN,NaN,NaN
Western,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000095,NaN,NaN,NaN,NaN
Film-Noir,NaN,NaN,NaN,NaN,0.000443,NaN,NaN,0.001085,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
(no genres listed),NaN,0.00034,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000065,NaN,NaN,NaN,NaN,NaN,NaN

In [125]:
genres.cov().loc[genres.sum().sort_values() > 3000,  genres.sum().sort_values() > 3000]

            Comedy   Romance     Drama    Action  Thriller
Comedy    0.212754  0.023025 -0.056841 -0.013256 -0.032723
Romance   0.023025  0.128409  0.020315 -0.009699 -0.013568
Drama    -0.056841  0.020315  0.249892 -0.019025 -0.006446
Action   -0.013256 -0.009699 -0.019025  0.112394  0.020892
Thriller -0.032723 -0.013568 -0.006446  0.020892  0.129709

In [118]:
(genres.sum().sort_values() > 100).index.values

array(['IMAX', '(no genres listed)', 'Film-Noir', 'Western', 'Animation',
       'Musical', 'Children', 'War', 'Fantasy', 'Mystery', 'Sci-Fi',
       'Adventure', 'Documentary', 'Horror', 'Crime', 'Action', 'Romance',
       'Thriller', 'Comedy', 'Drama'], dtype=object)

In [140]:
pd.melt(tmp.reset_index(), id_vars='userId', value_vars=tmp.columns, var_name='movieId', value_name='rating')

      userId  movieId  rating
0        1.0      1.0     NaN
1        2.0      1.0     NaN
2        3.0      1.0     4.0
3        4.0      1.0     NaN
4        5.0      1.0     NaN
...      ...      ...     ...
7673     7.0  31696.0     NaN
7674     8.0  31696.0     NaN
7675     9.0  31696.0     NaN
7676    10.0  31696.0     NaN
7677    11.0  31696.0     NaN

[7678 rows x 3 columns]

In [133]:
tmp = ratings[:1000].pivot('userId', 'movieId', 'rating')

In [134]:
tmp

movieId,1.0,2.0,3.0,6.0,7.0,10.0,11.0,15.0,16.0,17.0,...,7454.0,7482.0,7757.0,8368.0,8482.0,8507.0,8636.0,8690.0,8961.0,31696.0
userId,,,,,,,,,,,,,,,,,,,,,
1.0,NaN,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,3.0,4.0,4.0,3.5,5.0,4.5,3.5,4.0,4.0
2.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4.0,NaN,NaN,NaN,3.0,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5.0,NaN,3.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6.0,5.0,NaN,3.0,NaN,5.0,NaN,NaN,NaN,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7.0,NaN,NaN,3.0,NaN,3.0,NaN,4.0,2.0,3.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8.0,4.0,NaN,5.0,3.0,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10.0,4.0,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11.0,4.5,NaN,NaN,NaN,NaN,2.5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [142]:
print("START")

ratings = pd.read_csv('../data/rating.csv').rename(columns={"userId": 'u_id',  "movieId": "i_id"})
movies = pd.read_csv('./../data/movie.csv').rename(columns={"movieId": "i_id"})
genres = pd.DataFrame({k: {g: True for g in v} for k, v in movies.set_index('i_id').genres.apply(lambda gs: gs.split("|")).to_dict().items()}).fillna(False).transpose()

print("Read data - DONE")

np.random.seed(2022)

users = np.random.choice(ratings.u_id.unique(), 16, replace=False)
all_movies = genres.index.values

movies_tmp = ratings.loc[ratings.u_id.isin(users)].pivot('u_id', 'i_id', 'rating')
movies_available = pd.melt(movies_tmp.reset_index(),
                           id_vars='u_id',
                           value_vars=movies_tmp.columns,
                           var_name='i_id', value_name='rating_real')

movies_available = pd.concat([movies_available, genres.loc[movies_available.i_id].reset_index(drop=True)], axis=1)

print("Prepare variables - DONE")

saturation_list = []

START
Read data - DONE
Prepare variables - DONE

In [143]:
movies_available

,u_id,i_id,rating_real,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,...,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
0,3501,1,NaN,True,True,True,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
1,8388,1,NaN,True,True,True,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
2,8512,1,NaN,True,True,True,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
3,14549,1,4.0,True,True,True,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
4,15961,1,NaN,True,True,True,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26715,74069,99728,NaN,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
26716,83325,99728,NaN,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
26717,100206,99728,NaN,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
26718,110161,99728,3.5,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
26719,122780,99728,NaN,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False

In [149]:
lr = 0.010676587674837098
reg = 0.00010676587674837098
n_epochs = 20
n_factors = 10
import time
t = time.localtime()
RESULT_DIR = f'../../data/benchmark_rs/saturation-{t.tm_year}-{t.tm_mon}-{t.tm_mday}'


def get_rating(df, u, i):
    tmp = df.loc[(df.u_id == u) & (df.i_id == i)]
    if tmp.empty:
        return np.nan
    else:
        return tmp.values[0]

In [150]:
fsvd = FSVD(lr=lr, reg=reg, n_epochs=n_epochs, n_factors=n_factors,
            early_stopping=True, shuffle=False, min_rating=1, max_rating=5)
fsvd.fit(ratings)
preds = fsvd.predict(movies_available)

# calculate the saturation
res_tmp = pd.concat([movies_available, pd.DataFrame({"pred": preds})], axis=1)
# with open(f"{RESULT_DIR}/predictions_step_{i}.json", "w") as f:
#     json.dump(res_tmp, f)

saturation = res_tmp.groupby("u_id").apply(lambda df:  df.sort_values("pred")[-100:].drop(["u_id", "i_id",  "pred"],  axis=1).mean()).to_dict("index")

# append saturation to file
saturation_list.append(saturation)

# Add  selected movies to ratings list with 4s and 5s
genre_tmp = GENRE1 if (7 % 50) < 25 else GENRE2

selected = movies_available.loc[movies_available.i_id.isin(genres.index[genres[genre_tmp]]), :].groupby("u_id").apply(lambda df: np.random.choice(df.index))
new_scores = pd.concat([movies_available.loc[selected, ["u_id", "i_id"]].reset_index(drop=True),
                        pd.DataFrame({"rating": np.random.choice([4, 5], selected.shape[0], p=[.15, .85])})],
                       axis=1)
movies_available.loc[selected, 'rating'] = new_scores.rating.values
ratings = pd.concat([ratings, new_scores], axis=0)

# with open(f"{RESULT_DIR}/all_saturation.json", "w") as f:
# json.dump(saturation_list,  f)

Preprocessing data...

Epoch 1/20  | took 1.1 sec
Epoch 2/20  | took 1.1 sec
Epoch 3/20  | took 1.1 sec
Epoch 4/20  | took 1.1 sec
Epoch 5/20  | took 1.1 sec
Epoch 6/20  | took 1.0 sec
Epoch 7/20  | took 1.1 sec
Epoch 8/20  | took 1.1 sec
Epoch 9/20  | took 1.0 sec
Epoch 10/20 | took 1.1 sec
Epoch 11/20 | took 1.1 sec
Epoch 12/20 | took 1.1 sec
Epoch 13/20 | took 1.1 sec
Epoch 14/20 | took 1.0 sec
Epoch 15/20 | took 1.1 sec
Epoch 16/20 | took 1.1 sec
Epoch 17/20 | took 1.1 sec
Epoch 18/20 | took 1.1 sec
Epoch 19/20 | took 1.1 sec
Epoch 20/20 | took 1.0 sec

Training took 29 sec

In [151]:
preds

[3.833141426599853,
 4.091701615508929,
 4.166004044448721,
 3.9513336256637484,
 5,
 3.012117540541257,
 3.728638470242163,
 4.475027603366256,
 2.261228517640956,
 4.373897572386687,
 3.781207571071707,
 3.02933051038009,
 4.422962809331908,
 4.047696856443267,
 2.8823060371871474,
 4.279027178564912,
 3.7886320401195963,
 2.405906321844129,
 2.74184001138551,
 3.3725005495425098,
 3.2876733936258833,
 2.102744894006144,
 2.0922180477159587,
 3.838255957725468,
 1.4653316273805623,
 2.9784182763581537,
 3.353839176110328,
 3.432012689985191,
 3.3770276569190525,
 3.587764855450672,
 1.9180256754923237,
 3.5550180581889803,
 3.8599939079571937,
 3.4154503315140547,
 3.2395058710926947,
 3.3858155824232115,
 3.4600548282535475,
 2.5049070170255443,
 1.8294347971526994,
 3.8312360271556503,
 1.2139727331541734,
 2.7981979951452822,
 3.12593882821028,
 3.810548362665532,
 3.4213296934975146,
 2.821216779288808,
 2.311287246921545,
 3.8479994730949976,
 4.414616782288007,
 4.199787341964912,
 3.739040846594644,
 3.8983888787869825,
 3.8377506398840286,
 2.5190183785770066,
 3.197232798163342,
 4.710421904050573,
 2.882671146387673,
 4.204513134688709,
 2.0858354400852086,
 4.339469420703608,
 2.9073603728150315,
 3.322045975439403,
 3.9641823231631665,
 3.984216067160755,
 4.174240414922326,
 2.501860106721622,
 3.3848134908415637,
 3.4089152718371514,
 3.4405306124641846,
 1.7716321842121046,
 2.3915885280475444,
 3.6720924209783394,
 1.1616250427304098,
 2.8152262209399463,
 2.635026828663682,
 4.071655341502726,
 3.135280681357409,
 3.1504425680084602,
 2.459702206534197,
 3.1600853529530464,
 3.4568861810901588,
 3.7553463660321693,
 2.9754757891393524,
 3.194394056055918,
 3.620954402781402,
 1.94206918407897,
 3.0217312016154962,
 3.838272530061669,
 2.0922204821552914,
 3.626106765095002,
 2.065954476350656,
 2.6917159239881068,
 3.421499637345111,
 3.0480986308349127,
 2.791461799112274,
 2.551231844398531,
 4.676752026485635,
 2.8307190562819646,
 3.769596176790472,
 3.640770290615277,
 3.857068449629121,
 1.7675273793034005,
 2.244027074592704,
 4.05687340988657,
 1.4558929221969992,
 3.2024543632523215,
 2.76442541843686,
 4.659891762179988,
 3.4088298335262275,
 3.3645747903831276,
 2.930113127584339,
 3.789514302761402,
 3.5319518886805175,
 2.3917060991866617,
 3.0604598648222554,
 3.644013979666443,
 3.2338421556153993,
 2.4105854266623012,
 2.856066498508048,
 4.48879091165737,
 2.4030062512710217,
 3.898354246591382,
 2.5640098371713136,
 3.8993304710740584,
 2.88555972541469,
 2.7024937957444775,
 2.386347259892724,
 4.22937671786963,
 3.846281558802809,
 4.118716159033628,
 3.758908493268777,
 4.072052531129924,
 3.848811357432079,
 3.567560497847189,
 3.1951419003223798,
 4.730461305490407,
 3.0949085700868513,
 4.4331227095111725,
 3.050089340730633,
 4.17847600026867,
 3.0576026385004367,
 3.501574544301913,
 3.642783765272377,
 4.628993709957564,
 2.8029524856008106,
 4.025357121976822,
 2.762986823733434,
 3.726867109002906,
 2.8761677708029083,
 4.085984372447764,
 2.4547393681905234,
 4.028676456888726,
 3.0198177134505673,
 2.6772971083676076,
 3.875564463076487,
 3.6631961484005418,
 1.8274971478270237,
 3.963181574260229,
 3.349102796700113,
 3.9804218002440193,
 1.8961073147168628,
 3.4386858415386055,
 2.5583498503993347,
 2.836598087077811,
 2.7241792618154785,
 3.8402651577329374,
 1.2428162839422845,
 2.7757928503191516,
 1,
 2.841832906574776,
 3.892956513299608,
 2.2236996065056545,
 3.0808524523489256,
 2.8213014982743956,
 1.5258707865512051,
 3.467303895912929,
 3.1628689243466943,
 3.146289788060695,
 3.4507515957126857,
 3.4225035327751225,
 3.9560746561993527,
 2.2474907296561613,
 2.786776688414079,
 4.078160092340639,
 2.5389292895619673,
 3.7184230390651942,
 2.705315906157658,
 3.5981035405351354,
 3.691264048514547,
 2.6394009070394384,
 2.806894257465999,
 3.362919165938241,
 4.493556048252221,
 2.2119669607500105,
 3.162081932225477,
 3.4933792493522975,
 3.18024203717166,
 2.0533144511082853,
 2.0475256551696126,
 3.8543715646031216,
 1.712841982701707,
 3.5236567482342602,
 2.5599387160477485,
 4.431754898952006,
 3.0204524689431396,
 3.4750228363636153,
 2.6503410563802343,
 3.587340431920754,
 4.220751840576518,
 2.3182888936674666,
 2.7874155176028577,
 3.8240158710815444,
 2.7937448193101457,
 2.467528933748853,
 2.310806774965104,
 4.187882624929217,
 1.894418029259536,
 2.8849595180366854,
 3.499380441116447,
 4.372179658226565,
 2.37419052152694,
 4.300580214385488,
 2.6201333094319805,
 3.9900286527329536,
 3.402186003859698,
 2.8230220481260866,
 3.4950734253517384,
 3.9041789219551606,
 3.5942728082352553,
 3.1936109006436157,
 2.604734887935006,
 4.556160781730913,
 3.0201317572136297,
 4.0099026045925985,
 3.4034917990792244,
 4.464166667087868,
 2.7621453899144024,
 3.3685141519945727,
 3.1145495389830966,
 4.852391966119664,
 3.22092840271462,
 3.2930710408620034,
 3.4835915697305073,
 3.906592028546915,
 3.590276831803357,
 2.860636409608089,
 3.7934561247168457,
 4.3043810252050525,
 2.3852684659620347,
 3.496114223721389,
 3.2302402003722714,
 3.4829664166264016,
 2.696416367444004,
 3.7375497536158915,
 3.0072291332507883,
 3.653484707607535,
 2.3640800287844526,
 3.6640343334863608,
 3.203096054564575,
 3.8811526661781985,
 3.9540444491304054,
 4.102851594128833,
 4.027679646586929,
 4.3816434126609485,
 3.4291767026748547,
 3.6362834177333707,
 4.007931869700264,
 2.6367555893227497,
 2.7962532741091417,
 3.8193207654177175,
 2.7812091601749604,
 4.0757430853555014,
 3.3753398295276096,
 4.002245662177298,
 3.183987957129142,
 4.002917311425886,
 3.9775637082638013,
 3.2352171738555637,
 3.7178794576945657,
 4.82772217757267,
 3.900464782679838,
 4.044754944667213,
 3.361159493979378,
 3.4162434682237777,
 2.9176181487824264,
 4.22121799737923,
 3.6420015119583997,
 3.9801490219618993,
 3.375740291443328,
 2.187289158757356,
 3.7904016076992386,
 3.624227420127416,
 4.632211429038733,
 2.192978199343332,
 3.5811451902475424,
 4.130294153843393,
 1.6349032589306582,
 4.461460208100944,
 3.4953400073722465,
 2.822398314629501,
 4.7759884493953635,
 3.245542760880336,
 1.6164946254286359,
 3.843420436564262,
 3.959006201258079,
 2.9107850254652066,
 4.066637838561137,
 4.226940943890232,
 3.9978793824927163,
 3.065560529141086,
 3.3875784687375994,
 4.617906717003912,
 2.5177272092523384,
 4.118114212178048,
 3.5863065495405064,
 4.607193284829389,
 3.2740621453811034,
 3.7973117158744167,
 3.1890210501497367,
 4.6084443573035765,
 3.36332344433536,
 2.277418325164908,
 3.86100288886191,
 3.2202173014374726,
 4.160618407074737,
 3.086126665178565,
 2.0787137916735587,
 3.033880443333658,
 1.2294976730980338,
 3.436206012113837,
 3.582042530548984,
 3.5575467807087904,
 4.023412128978866,
 2.9793885017279984,
 1.9520099768617798,
 3.5323624580551027,
 3.4830174866204153,
 2.58415286130247,
 2.7650387725812253,
 3.4862481726111354,
 2.7968938073149543,
 3.070503609133297,
 2.119175636738022,
 3.882103223428352,
 2.3336334924563173,
 3.4321269910284062,
 2.9900632184522764,
 3.942319898350865,
 2.534043641618322,
 3.28299938782133,
 2.5740483672935617,
 3.8313081505758655,
 3.672076870110614,
 2.8657902676795812,
 3.134920344090255,
 3.8459061670662034,
 3.263027802822742,
 2.7045850791080603,
 3.2665362322004166,
 4.3642565621830425,
 2.5873004940717093,
 3.3787401922372604,
 2.99545315353886,
 3.956378531250775,
 2.613994621942006,
 3.5873753799862578,
 2.9264641806730074,
 3.688100226675379,
 2.8352566498645957,
 1.6858321587589455,
 2.9443027283432057,
 3.278785267629681,
 3.5031165033633567,
 2.6235690415313218,
 2.2222429600469042,
 3.856439077411048,
 2.348104843853593,
 3.7062214430390275,
 3.248877746942544,
 3.498997446953722,
 3.526103394684528,
 2.571072012618594,
 1.732733423291102,
 3.9338567107631066,
 4.346878651778,
 4.19025730765176,
 3.8047843742149547,
 4.189542831934132,
 3.9576493917886024,
 3.490925603235545,
 3.319316205147454,
 4.755175087461741,
 3.2075104216947827,
 4.4877455666007915,
 3.116581687888722,
 4.264283347793445,
 2.661521915466076,
 4.4872569652057654,
 4.08417174979699,
 4.670540324022926,
 3.491668551180907,
 1.9179926660202566,
 2.8455642440687776,
 3.188517539536574,
 3.0193580545712315,
 2.4666332545779897,
 2.1893222364767326,
 3.2786449529618853,
 1,
 2.8116377876837664,
 3.292309932037914,
 2.9202704526232846,
 2.606302160526894,
 3.5917130749494097,
 1.3730005829610432,
 3.7413262998748182,
 4.147430951943882,
 4.779968141672751,
 4.284214482617063,
 4.231815306107385,
 4.625950951595853,
 3.216282266285913,
 4.0299847941186036,
 4.806307316333882,
 3.322797476868628,
 4.676960089692112,
 2.9849778884785385,
 3.967895669691366,
 3.4803049772482693,
 4.187852575294298,
 4.323724312256526,
 4.0597181841119605,
 2.9258597114207117,
 2.8756455136106913,
 3.5079609963870326,
 3.7898956440216494,
 3.6658732224778374,
 3.29701723395563,
 2.7190062530823544,
 4.231257936019899,
 2.508257188305194,
 3.355861665076017,
 3.8055361273770374,
 4.035763524661844,
 3.1332328496985826,
 3.0175807635811114,
 2.604966880289041,
 4.383452680248882,
 3.200143166551853,
 1.6691010502718409,
 2.958632062375254,
 3.53952894893444,
 2.8781057897860287,
 3.081812556759879,
 2.4644676718008003,
 3.9300055109583845,
 2.0596324451187513,
 3.3434952849080823,
 3.108837948823776,
 4.025669194437843,
 2.6148715510704386,
 2.625796013809437,
 1.885287026142446,
 4.168740954103639,
 3.357006077580599,
 3.2980795378913577,
 4.0854291718034785,
 4.3526963599297055,
 4.108178048353951,
 3.3762054042260767,
 3.8001487264563445,
 4.802536550999112,
 2.5862737406502525,
 3.694238919669674,
 4.106614914493216,
 4.288951464327716,
 3.3763518984001712,
 3.5553680625341597,
 2.9971904824989237,
 4.704062405713437,
 4.85750811967317,
 3.207399773042435,
 3.8672733780829587,
 4.091247447822996,
 3.749259950544814,
 2.3184070944147894,
 2.591178553078804,
 4.505834095303105,
 1.6008252305171384,
 3.237987586354844,
 3.367519883213761,
 4.946019797711618,
 3.128511625482101,
 3.9741640767424995,
 3.1791042146032655,
 4.4591190152145685,
 1.9237129036864018,
 3.425640835387748,
 2.8534896551054496,
 3.1088317949694337,
 2.806603964386089,
 4.443062134714698,
 1.6818446009126333,
 2.984344271677795,
 1.8251269166747033,
 2.839457031807476,
 3.8472575778444833,
 2.967521543607738,
 2.8409546794691067,
 2.542375276427712,
 2.0813939321909607,
 3.5020123149624776,
 2.4250919204528776,
 2.334472469504656,
 1.9599307545458635,
 2.5792479128451307,
 1.996180108573418,
 3.324672455882956,
 1,
 2.412890398674298,
 1,
 1.608641718301783,
 3.59867162747045,
 2.9757075723061934,
 2.190472095828311,
 2.7514975737530003,
 1.296231981988301,
 3.0900252202334837,
 2.860191180588378,
 4.184642629824527,
 3.6576565744465506,
 3.320300396934089,
 3.7774803720687604,
 3.9444623788126574,
 2.3849629312455525,
 3.428331284505216,
 2.0113306372945288,
 3.661000872080151,
 3.129993356739685,
 3.165752214164823,
 3.2888321910455596,
 2.7131588500411845,
 2.864870745327389,
 3.6974017926560667,
 3.2443517321532984,
 3.2133072317225126,
 2.4359463624683526,
 3.104282552563941,
 3.0024630298812496,
 3.1290661145530754,
 2.104852052413823,
 3.5367317588072478,
 2.7244223685209863,
 3.5532005843603267,
 2.6028964525066605,
 2.974667372050089,
 2.519318112967269,
 3.5103598703749905,
 2.7696322928125956,
 3.1578898955564894,
 3.663517987171291,
 2.1951766685932927,
 2.218987808836722,
 3.120703860007537,
 2.710962331188497,
 2.5495785311732897,
 2.055748136119372,
 3.601385938093111,
 2.2042280536613954,
 3.1238176978812144,
 2.5053807156524788,
 3.331722250297621,
 2.7550352808984635,
 3.0821297230964975,
 2.027949375081328,
 3.0281688877488415,
 3.187859227897004,
 2.5812316910478197,
 3.0801799755971717,
 3.687667036407499,
 3.1386891569710222,
 3.279522327045271,
 2.7035757760143175,
 4.095772834734445,
 2.5577677668653522,
 3.393599877015018,
 3.3093194403484154,
 3.9499009760673345,
 2.607942609332165,
 3.180797703422222,
 2.5787614275832818,
 4.055491884278955,
 3.232102828690449,
 3.6297882975097124,
 2.9520075855424137,
 3.7450679846314103,
 2.9995408897056888,
 3.324960095345078,
 2.652307677550409,
 4.2790044961634255,
 3.096049854503849,
 3.210288938881261,
 3.1071635517739407,
 4.064260056554408,
 2.2145471205289238,
 3.452512683850154,
 3.4219036069666884,
 3.8258696813584687,
 4.345143461411092,
 2.8372282114224388,
 3.2482361593724467,
 3.6334208764136138,
 3.2471641485252127,
 2.2438852459131686,
 2.6635081898469988,
 4.027606165321598,
 1.7671518715973544,
 3.2355586982878215,
 2.5680895388810514,
 4.155346479376384,
 2.699201027194505,
 3.5358653915502365,
 2.863042621500852,
 3.5409119484804124,
 3.8424642232950457,
 2.5150968697491347,
 2.8297040694911004,
 3.4056917612959055,
 3.033271306461079,
 2.290109874402181,
 2.123072272098965,
 3.8538191399572597,
 1.8251041718296475,
 3.1075462342150812,
 2.836162845583306,
 3.90662889191372,
 3.053129555919039,
 3.1612414674342086,
 2.3494438684026555,
 3.410599329122875,
 3.5223826333619868,
 3.9984036876561486,
 3.8532529547097827,
 3.852562438508172,
 3.731605652251348,
 3.5017007340399164,
 2.8667657614288617,
 4.087282590534857,
 2.430567166927951,
 3.4552771934511206,
 3.295155509249247,
 4.17000156040613,
 2.708705299429292,
 3.5156492810788125,
 3.565373794779761,
 4.0769023243089535,
 3.957833409775584,
 2.2997859115095505,
 2.693058495121368,
 2.9900849831036087,
 3.020352167172684,
 1.5100177931676775,
 2.053755719182005,
 3.2945288964849424,
 1.4216267989919846,
 3.5545942600789826,
 2.0319291265658834,
 3.3137330673753644,
 3.4386643681088636,
 3.243686732102716,
 2.285437801526655,
 2.2748470401846075,
 2.4155872275385537,
 3.73914343508157,
 3.5662958919801526,
 3.6950473403678963,
 3.8893159895840843,
 3.8332562858777584,
 3.210270849760711,
 4.133498927023926,
 2.8748919515781437,
 3.434538847312029,
 3.6199865836404514,
 3.351002872216459,
 3.108767644638636,
 2.747719819184105,
 2.82858174101905,
 4.058502400649145,
 3.1150796419529323,
 4.744642087049439,
 3.776637981135821,
 3.261665995703202,
 3.859624155103174,
 3.7640667332298126,
 2.0283638732581437,
 3.250918313717609,
 1.5345811109251168,
 3.4918343309852795,
 3.2055105621668822,
 3.166095590010567,
 3.5558883756268704,
 2.9476601591210017,
 3.0516657362705875,
 3.485854398077775,
 4.756645628948065,
 4.53270422221256,
 3.982439932770428,
 4.086286345041018,
 4.22056615561913,
 2.252511608800558,
 3.685515282314383,
 4.776695302967726,
 2.4581708239896196,
 4.688687015582744,
 2.4301787030520905,
 3.891813170080062,
 3.3923418967590293,
 4.37988900829788,
 4.065046967000811,
 3.8804513961968006,
 3.105993419132336,
 3.4216448311238463,
 3.646062798566566,
 3.971927825726904,
 4.030078143676075,
 3.392949531277038,
 3.8961297090179303,
 4.787893380786032,
 3.266824287444617,
 4.843738271570373,
 2.9813707504765476,
 3.4200004193571605,
 3.404875310405687,
 3.0322882388197123,
 2.9572726024659852,
 4.472268139265226,
 2.8903949262691198,
 3.2975657856576777,
 3.122110593251335,
 3.1487566945276324,
 3.8743978888920307,
 2.743322282836723,
 2.933867660293454,
 3.431248330924376,
 2.1669782107062767,
 3.5768869424603404,
 2.889358151748265,
 2.5330036957460336,
 3.952039626254561,
 2.938960928684574,
 2.3135274895548497,
 2.520220913347733,
 3.409320501784265,
 3.5192863127086587,
 3.5675757638570653,
 4.191921456101286,
 3.385297647465736,
 3.631324751519494,
 3.4492249652741704,
 4.564034690593606,
 2.918636714992473,
 3.2805959790087544,
 3.640720503026046,
 4.355642017907384,
 2.140846397146091,
 3.8833791397157214,
 3.501210205555331,
 4.403914365194513,
 2.4737584666715375,
 3.2919845772333716,
 3.3411731721422036,
 3.8017103226924944,
 3.3749353105748088,
 4.277033034068619,
 3.0755798025765446,
 3.9936169084824087,
 2.809885238231378,
 3.3571718590919573,
 3.9505772183722256,
 3.5261744642296007,
 2.402375664814923,
 3.416980526784232,
 2.813810524815586,
 4.2876991369081185,
 3.435272374089936,
 2.9904809740409752,
 3.1306897428649503,
 3.565095470931408,
 2.686165735307528,
 3.1515190510042976,
 2.024454333429116,
 3.5191181285205615,
 1.8624676052979274,
 2.1842818393103443,
 3.3234537482628745,
 4.507222379312672,
 1.8686415494862505,
 3.488432141433581,
 3.1001285301103447,
 3.440351389340192,
 2.9533046981478543,
 3.8479186480754013,
 3.7464728411925172,
 3.98375810563567,
 3.9960205924260865,
 4.362225357200973,
 3.8566249027763875,
 4.269447438934706,
 3.1269115496094857,
 3.723715086436687,
 3.650375574016456,
 3.4261036775520592,
 2.787864220725937,
 3.4334333328634212,
 3.1398252449478683,
 4.22312766724826,
 2.8574740640661824,
 2.9627183032831605,
 3.5833707720122545,
 3.6213882213105393,
 3.8897932306671468,
 3.495787973541631,
 2.632230056627451,
 3.9966231556231318,
 2.5018876601702367,
 3.7111145937841346,
 3.664632769505925,
 3.7398537634937097,
 3.6585226240568356,
 2.7099951143481595,
 2.4390146828791095,
 4.163788037402135,
 3.7579872006581283,
 2.807762609895034,
 3.480186274969561,
 3.8394818505847526,
 3.668975207338001,
 2.7509043490251472,
 2.1159727183856907,
 4.264920677374933,
 2.147789060181206,
 2.550069335950573,
 3.999515237899875,
 4.720983433570998,
 2.9952142404011677,
 3.485563107585438,
 2.7735217445974754,
 4.45607568881833,
 3.969829335017348,
 3.288552765784036,
 3.918117700876783,
 3.9135127680713513,
 3.5769235574168086,
 2.8232696956711942,
 2.5764515292483887,
 4.230662152090031,
 2.135866981605831,
 3.26993225495837,
 3.1010485401233367,
 4.933792110368353,
 2.798696473470241,
 3.2120290451125406,
 3.4208651435525437,
 4.174040100712437,
 4.1729464374475445,
 3.3681122665650407,
 3.234015528880086,
 3.1869020615235963,
 3.2672910309496292,
 2.319177471821367,
 1.6677704576803927,
 3.343190201884638,
 1.3815544196345553,
 3.1440239928220413,
 2.446888146131554,
 3.9228540880964062,
 3.021060596839359,
 3.345466256769818,
 2.9769700258015375,
 3.0480776830640477,
 3.8139224883535303,
 3.3993045129921597,
 3.54964193118308,
 4.093076503947215,
 3.2499447230438503,
 3.8981612444563707,
 2.4941392689549358,
 4.308762945004562,
 2.632711289007424,
 3.142138541681609,
 3.8512444638601293,
 4.8214985883286055,
 2.0620553455999606,
 4.026889141260063,
 3.485302650755964,
 4.7986624915648335,
 4.151170916833302,
 3.629662799688,
 3.6558066027819516,
 3.7548091914193735,
 4.3246124388250164,
 1.5763441747168667,
 3.584052870521174,
 4.645303299747663,
 2.2159547876117167,
 4.270048937605468,
 2.4507222215589506,
 3.4123081669135464,
 4.09977164876992,
 3.4073717182554075,
 3.0015856995173786,
 3.4649435341590245,
 3.869342621740305,
 3.2459826946538777,
 3.2529468512602477,
 3.77518213728561,
 3.449909716967526,
 2.028073456359647,
 3.5622554150220145,
 4.586564390675927,
 2.408299080940113,
 3.9696675249588314,
 2.2171946256198685,
 3.6842404409930323,
 3.134210775677385,
 3.1080616870307294,
 2.968261804307233,
 3.444192357759748,
 2.9611553349133306,
 2.2340621970011574,
 2.3663864046074434,
 2.9372347569884467,
 2.767058131440453,
 2.3457917461959745,
 2.096840626662788,
 3.03365827574933,
 1.2078679230029485,
 3.0672959477679766,
 2.997263885995832,
 2.4783493441670914,
 2.839863832564018,
 3.6655698075777474,
 1.7365969717206013,
 2.6432433147016656,
 3.5890427251771477,
 1.611415910569446,
 1.791369158355189,
 2.778530850621104,
 2.038967642494778,
 1.6662858245364764,
 1.1845197331374266,
 3.1528346273795735,
 1.1071964316648542,
 2.4634789592652364,
 2.3712988600601443,
 3.2967821528191177,
 2.424954317734028,
 3.0665711321584492,
 1.5474657839347206,
 2.6551696850437136,
 4.398941458952212,
 3.6158672776127325,
 3.579115821764827,
 3.5648027205251602,
 3.7922206488554626,
 1.7141107631867019,
 2.957869004743949,
 4.176617859089484,
 1.9518157286170315,
 4.052206561754383,
 1.9780018635648182,
 3.8324733912982842,
 3.464318292499331,
 3.356060323032336,
 3.3258253559791418,
 3.1618952278563723,
 2.28113191899926,
 2.6925047844481425,
 3.214397124031868,
 3.698432265880124,
 3.881509314831136,

In [156]:
import json
json.dumps(saturation_list)

'[{"3501": {"rating_real": 4.777777777777778, "Adventure": 0.12, "Animation": 0.01, "Children": 0.03, "Comedy": 0.21, "Fantasy": 0.01, "Romance": 0.26, "Drama": 0.7, "Action": 0.31, "Crime": 0.19, "Thriller": 0.39, "Horror": 0.04, "Mystery": 0.12, "Sci-Fi": 0.06, "IMAX": 0.02, "Documentary": 0.0, "War": 0.09, "Musical": 0.01, "Western": 0.02, "Film-Noir": 0.0, "(no genres listed)": 0.0}, "8388": {"rating_real": 4.0, "Adventure": 0.33, "Animation": 0.06, "Children": 0.03, "Comedy": 0.41, "Fantasy": 0.12, "Romance": 0.06, "Drama": 0.35, "Action": 0.47, "Crime": 0.29, "Thriller": 0.21, "Horror": 0.01, "Mystery": 0.1, "Sci-Fi": 0.15, "IMAX": 0.1, "Documentary": 0.02, "War": 0.09, "Musical": 0.02, "Western": 0.04, "Film-Noir": 0.01, "(no genres listed)": 0.0}, "8512": {"rating_real": 4.4, "Adventure": 0.18, "Animation": 0.1, "Children": 0.11, "Comedy": 0.33, "Fantasy": 0.09, "Romance": 0.3, "Drama": 0.66, "Action": 0.12, "Crime": 0.18, "Thriller": 0.13, "Horror": 0.01, "Mystery": 0.1, "Sci-Fi": 0.03, "IMAX": 0.03, "Documentary": 0.05, "War": 0.07, "Musical": 0.05, "Western": 0.0, "Film-Noir": 0.02, "(no genres listed)": 0.0}, "14549": {"rating_real": 4.329545454545454, "Adventure": 0.18, "Animation": 0.07, "Children": 0.06, "Comedy": 0.16, "Fantasy": 0.09, "Romance": 0.24, "Drama": 0.81, "Action": 0.07, "Crime": 0.13, "Thriller": 0.12, "Horror": 0.0, "Mystery": 0.12, "Sci-Fi": 0.05, "IMAX": 0.02, "Documentary": 0.09, "War": 0.08, "Musical": 0.01, "Western": 0.0, "Film-Noir": 0.0, "(no genres listed)": 0.0}, "15961": {"rating_real": 4.6875, "Adventure": 0.35, "Animation": 0.17, "Children": 0.21, "Comedy": 0.37, "Fantasy": 0.21, "Romance": 0.16, "Drama": 0.31, "Action": 0.27, "Crime": 0.13, "Thriller": 0.13, "Horror": 0.01, "Mystery": 0.1, "Sci-Fi": 0.13, "IMAX": 0.07, "Documentary": 0.03, "War": 0.07, "Musical": 0.11, "Western": 0.02, "Film-Noir": 0.04, "(no genres listed)": 0.0}, "29330": {"rating_real": 4.230769230769231, "Adventure": 0.09, "Animation": 0.08, "Children": 0.03, "Comedy": 0.49, "Fantasy": 0.1, "Romance": 0.12, "Drama": 0.62, "Action": 0.13, "Crime": 0.16, "Thriller": 0.16, "Horror": 0.03, "Mystery": 0.11, "Sci-Fi": 0.06, "IMAX": 0.0, "Documentary": 0.03, "War": 0.01, "Musical": 0.07, "Western": 0.02, "Film-Noir": 0.03, "(no genres listed)": 0.0}, "42971": {"rating_real": 4.241379310344827, "Adventure": 0.34, "Animation": 0.13, "Children": 0.06, "Comedy": 0.15, "Fantasy": 0.21, "Romance": 0.13, "Drama": 0.55, "Action": 0.25, "Crime": 0.14, "Thriller": 0.15, "Horror": 0.03, "Mystery": 0.11, "Sci-Fi": 0.18, "IMAX": 0.06, "Documentary": 0.05, "War": 0.15, "Musical": 0.04, "Western": 0.01, "Film-Noir": 0.05, "(no genres listed)": 0.0}, "54160": {"rating_real": 4.846153846153846, "Adventure": 0.21, "Animation": 0.0, "Children": 0.02, "Comedy": 0.14, "Fantasy": 0.03, "Romance": 0.14, "Drama": 0.72, "Action": 0.17, "Crime": 0.15, "Thriller": 0.14, "Horror": 0.04, "Mystery": 0.04, "Sci-Fi": 0.12, "IMAX": 0.0, "Documentary": 0.04, "War": 0.19, "Musical": 0.02, "Western": 0.06, "Film-Noir": 0.0, "(no genres listed)": 0.0}, "64094": {"rating_real": 3.581818181818182, "Adventure": 0.2, "Animation": 0.07, "Children": 0.01, "Comedy": 0.32, "Fantasy": 0.14, "Romance": 0.05, "Drama": 0.53, "Action": 0.23, "Crime": 0.25, "Thriller": 0.36, "Horror": 0.11, "Mystery": 0.18, "Sci-Fi": 0.23, "IMAX": 0.0, "Documentary": 0.02, "War": 0.06, "Musical": 0.01, "Western": 0.03, "Film-Noir": 0.06, "(no genres listed)": 0.0}, "69353": {"rating_real": 4.714285714285714, "Adventure": 0.28, "Animation": 0.0, "Children": 0.01, "Comedy": 0.04, "Fantasy": 0.06, "Romance": 0.07, "Drama": 0.5, "Action": 0.43, "Crime": 0.3, "Thriller": 0.41, "Horror": 0.16, "Mystery": 0.17, "Sci-Fi": 0.22, "IMAX": 0.11, "Documentary": 0.01, "War": 0.13, "Musical": 0.01, "Western": 0.02, "Film-Noir": 0.06, "(no genres listed)": 0.0}, "70691": {"rating_real": NaN, "Adventure": 0.14, "Animation": 0.17, "Children": 0.19, "Comedy": 0.5, "Fantasy": 0.18, "Romance": 0.27, "Drama": 0.54, "Action": 0.03, "Crime": 0.05, "Thriller": 0.02, "Horror": 0.01, "Mystery": 0.05, "Sci-Fi": 0.07, "IMAX": 0.02, "Documentary": 0.05, "War": 0.02, "Musical": 0.15, "Western": 0.0, "Film-Noir": 0.0, "(no genres listed)": 0.0}, "74069": {"rating_real": 5.0, "Adventure": 0.03, "Animation": 0.0, "Children": 0.0, "Comedy": 0.29, "Fantasy": 0.02, "Romance": 0.31, "Drama": 0.81, "Action": 0.01, "Crime": 0.19, "Thriller": 0.18, "Horror": 0.0, "Mystery": 0.06, "Sci-Fi": 0.01, "IMAX": 0.0, "Documentary": 0.0, "War": 0.03, "Musical": 0.0, "Western": 0.01, "Film-Noir": 0.0, "(no genres listed)": 0.0}, "83325": {"rating_real": 4.666666666666667, "Adventure": 0.29, "Animation": 0.12, "Children": 0.15, "Comedy": 0.57, "Fantasy": 0.14, "Romance": 0.14, "Drama": 0.23, "Action": 0.27, "Crime": 0.1, "Thriller": 0.16, "Horror": 0.04, "Mystery": 0.04, "Sci-Fi": 0.18, "IMAX": 0.02, "Documentary": 0.01, "War": 0.1, "Musical": 0.07, "Western": 0.02, "Film-Noir": 0.02, "(no genres listed)": 0.0}, "100206": {"rating_real": 4.714285714285714, "Adventure": 0.38, "Animation": 0.1, "Children": 0.1, "Comedy": 0.11, "Fantasy": 0.26, "Romance": 0.2, "Drama": 0.51, "Action": 0.37, "Crime": 0.15, "Thriller": 0.34, "Horror": 0.09, "Mystery": 0.15, "Sci-Fi": 0.27, "IMAX": 0.21, "Documentary": 0.0, "War": 0.07, "Musical": 0.03, "Western": 0.02, "Film-Noir": 0.01, "(no genres listed)": 0.0}, "110161": {"rating_real": 4.0, "Adventure": 0.16, "Animation": 0.0, "Children": 0.0, "Comedy": 0.14, "Fantasy": 0.05, "Romance": 0.1, "Drama": 0.68, "Action": 0.38, "Crime": 0.38, "Thriller": 0.43, "Horror": 0.03, "Mystery": 0.18, "Sci-Fi": 0.1, "IMAX": 0.09, "Documentary": 0.01, "War": 0.1, "Musical": 0.01, "Western": 0.02, "Film-Noir": 0.01, "(no genres listed)": 0.0}, "122780": {"rating_real": 4.642857142857143, "Adventure": 0.07, "Animation": 0.06, "Children": 0.1, "Comedy": 0.24, "Fantasy": 0.08, "Romance": 0.25, "Drama": 0.83, "Action": 0.02, "Crime": 0.09, "Thriller": 0.05, "Horror": 0.01, "Mystery": 0.05, "Sci-Fi": 0.03, "IMAX": 0.01, "Documentary": 0.05, "War": 0.05, "Musical": 0.07, "Western": 0.0, "Film-Noir": 0.0, "(no genres listed)": 0.0}}]'